################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HCLParser
/Caffee/bin/Debug/net6.0
/Caffee/obj
/HclParser/bin/Debug/net6.0
/HclParser/obj
/HclParser.Tests/bin/Debug/net6.0
/HclParser.Tests/obj
/Caffee/bin/Release/net6.0
/HclParser/bin/Release/net6.0
/HclParser.Tests/bin/Release/net6.0
/.vs/ProjectEvaluation
